XSLTTransformation/file/08_XMLText/811_01.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by tester (altova) --><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="nds">    <xs:complexType>      <xs:sequence>        <xs:element name="input">          <xs:complexType>            <xs:sequence>              <xs:element name="add">                <xs:complexType>                  <xs:sequence>                    <xs:element name="add-attr" maxOccurs="unbounded">                      <xs:complexType>                        <xs:sequence>                          <xs:element name="value">                            <xs:complexType>                              <xs:simpleContent>                                <xs:extension base="xs:string">                                  <xs:attribute name="type" type="xs:string" use="required"/>                                </xs:extension>                              </xs:simpleContent>                            </xs:complexType>                          </xs:element>                        </xs:sequence>                        <xs:attribute name="attr-name" type="xs:string" use="required"/>                      </xs:complexType>                    </xs:element>                  </xs:sequence>                  <xs:attribute name="class-name" type="xs:string" use="required"/>                  <xs:attribute name="src-dn" type="xs:string" use="required"/>                  <xs:attribute name="event-id" type="xs:boolean" use="required"/>                </xs:complexType>              </xs:element>            </xs:sequence>          </xs:complexType>        </xs:element>      </xs:sequence>      <xs:attribute name="dtdversion" type="xs:decimal" use="required"/>      <xs:attribute name="ndsversion" type="xs:decimal" use="required"/>    </xs:complexType>  </xs:element></xs:schema>