XSLTTransformation/file/08_XMLText/812_03.xml

<?xml version="1.0" encoding="ISO-8859-1"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">  <xs:complexType name="KundeTyp"/>  <xs:complexType name="TarifTyp"/>  <xs:element name="Anrufliste">    <xs:complexType>      <xs:sequence>        <xs:element name="Anruf" maxOccurs="unbounded">          <xs:complexType>            <xs:sequence>              <xs:element name="Kunde" type="KundeTyp" maxOccurs="unbounded"/>              <xs:element name="Tarif" type="TarifTyp"/>            </xs:sequence>            <xs:attribute ref="Nr"/>          </xs:complexType>        </xs:element>      </xs:sequence>    </xs:complexType>  </xs:element>  <xs:attribute name="Nr" type="xs:positiveInteger" use="required"/></xs:schema>