XSLTTransformation/file/11_Strukturen/1113_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Anruf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Beginn"/>
				<xs:element ref="Dauer"/>
				<xs:element ref="Preis"/>
				<xs:element ref="Tarif"/>
				<xs:element ref="Von"/>
				<xs:element ref="Nach"/>
			</xs:sequence>
			<xs:attribute name="Nr" type="xs:string" use="required"/>
			<xs:attribute name="Typ" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Anrufliste">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Anruf" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Beginn" type="xs:string"/>
	<xs:element name="Dauer" type="xs:string"/>
	<xs:element name="Nach">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Stadt"/>
			</xs:sequence>
			<xs:attribute name="Nr" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Preis" type="xs:string"/>
	<xs:element name="Stadt" type="xs:string"/>
	<xs:element name="Tarif">
		<xs:complexType mixed="true">
			<xs:attribute name="Nr" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Von">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Stadt"/>
			</xs:sequence>
			<xs:attribute name="Nr" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
