XSLTTransformation/file/11_Strukturen/1123_02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Skulschus (Comelio) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Datum" type="xs:string"/>
  <xs:element name="Kunden" type="xs:string"/>
  <xs:element name="Monat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Datum"/>
        <xs:element ref="Kunden"/>
        <xs:element ref="Tarifliste"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monatsliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Monat" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Pro-Kopf-Umsatz" type="xs:string"/>
  <xs:element name="Tarif">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Umsatz"/>
        <xs:element name="Beschreibung">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tarifliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Tarif" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gesamt-Umsatz"/>
  <xs:element name="Umsatz">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Pro-Kopf-Umsatz"/>
        <xs:element ref="Gesamt-Umsatz"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
