XSLTTransformation/file/11_Strukturen/1124_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Skulschus (Comelio) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="sammlung">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="einheit"/>
        <xs:element ref="wert"/>
        <xs:element name="wert">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="wert"/>
            </xs:sequence>
            <xs:attribute ref="name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute ref="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="name" type="xs:string"/>
  <xs:attribute name="typ" type="xs:string"/>
  <xs:attributeGroup name="wert">
    <xs:attribute ref="name" use="required"/>
    <xs:attribute ref="typ" use="required"/>
  </xs:attributeGroup>
  <xs:element name="wert">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attributeGroup ref="wert"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="einheit">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="wert"/>
        <xs:element name="sammlung">
          <xs:complexType>
            <xs:choice>
              <xs:element ref="einheit"/>
              <xs:element ref="wert"/>
              <xs:element name="wert">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="wert"/>
                  </xs:sequence>
                  <xs:attribute ref="name" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute ref="name" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute ref="name" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
