XSLTTransformation/file/16_Abfragen/1622_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Rechnung">
		<xs:complexType>
			<xs:attribute name="R_Nr" type="xs:string" use="required"/>
			<xs:attribute name="R_Datum" type="xs:string" use="required"/>
			<xs:attribute name="R_Summe" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rechnungsliste">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rechnung" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tarif">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rechnungsliste"/>
			</xs:sequence>
			<xs:attribute name="T_Nr" type="xs:string" use="required"/>
			<xs:attribute name="T_Name" type="xs:string" use="required"/>
			<xs:attribute name="T_GueBis" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Umsatzliste">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tarif" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
