XSLTTransformation/file/05_Sortierungen/531_01.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by tester (altova) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Erfolguebersicht">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Erfolg" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Stadt" type="xs:string"/>
              <xs:element name="Monat" type="xs:byte"/>
              <xs:element name="Umsatz">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Gesamt" type="xs:short"/>
                    <xs:element name="Neukunden" type="xs:byte"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
