XSLTTransformation/file/05_Sortierungen/532_04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by Skulschus (Comelio) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Erfolg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Stadt" type="xs:string"/>
        <xs:element name="Monat" type="xs:integer"/>
        <xs:element ref="Umsatz"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Umsatz">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Gesamt" type="xs:integer"/>
        <xs:element name="Neukunden" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Erfolguebersicht">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="Quartal" type="xs:integer"/>
        <xs:element ref="Erfolg" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
