XSLTTransformation/file/01_Grundkonzept/132_01.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by tester (altova) --><!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="Mitarbeiterliste">    <xs:complexType>      <xs:sequence>        <xs:element name="Mitarbeiter" type="MitarbeiterType" maxOccurs="unbounded"/>      </xs:sequence>    </xs:complexType>  </xs:element>  <xs:complexType name="NameType">    <xs:sequence>      <xs:element name="Vorname" type="xs:string"/>      <xs:element name="Nachname" type="xs:string"/>    </xs:sequence>    <xs:attribute name="Anrede" use="required">      <xs:simpleType>        <xs:restriction base="xs:NMTOKEN">          <xs:enumeration value="Frau"/>          <xs:enumeration value="Herr"/>        </xs:restriction>      </xs:simpleType>    </xs:attribute>  </xs:complexType>  <xs:complexType name="MitarbeiterType">    <xs:sequence>      <xs:element name="Name" type="NameType"/>      <xs:element name="Funktion">        <xs:simpleType>          <xs:restriction base="xs:string">            <xs:enumeration value="Buchhaltung"/>            <xs:enumeration value="Geschäftsführer"/>            <xs:enumeration value="Kundenberater"/>            <xs:enumeration value="Marketing"/>            <xs:enumeration value="Sekretariat"/>            <xs:enumeration value="Technik"/>            <xs:enumeration value="Webseite"/>          </xs:restriction>        </xs:simpleType>      </xs:element>    </xs:sequence>  </xs:complexType></xs:schema>