XSLTTransformation/file/02_Vorlagen/221_01.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="Kundenliste">    <xs:complexType>      <xs:sequence>        <xs:element name="Kunde" maxOccurs="unbounded">          <xs:complexType>            <xs:sequence>              <xs:element name="Name" type="NameType"/>              <xs:element name="Adresse" type="AdresseType"/>            </xs:sequence>            <xs:attribute name="Nr" type="xs:string" use="required"/>            <xs:attribute name="Anrede" use="required">              <xs:simpleType>                <xs:restriction base="xs:token">                  <xs:enumeration value="Herr"/>                  <xs:enumeration value="Frau"/>                </xs:restriction>              </xs:simpleType>            </xs:attribute>            <xs:attribute name="Beginn" type="xs:string" use="required"/>          </xs:complexType>        </xs:element>      </xs:sequence>    </xs:complexType>  </xs:element>  <xs:complexType name="NameType">    <xs:sequence>      <xs:element name="Rufname" type="xs:string"/>      <xs:element name="Zuname" type="xs:string"/>    </xs:sequence>  </xs:complexType>  <xs:complexType name="AdresseType">    <xs:sequence>      <xs:element name="Strasse" type="xs:string"/>      <xs:element name="PLZ" type="xs:int"/>      <xs:element name="Stadt" type="xs:string"/>    </xs:sequence>  </xs:complexType></xs:schema>