XSLTTransformation/file/19_XQuery/1912_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Marco (Comelio) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Kundenliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Kunde" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="NameType"/>
              <xs:element name="Adresse" type="AdresseType"/>
            </xs:sequence>
            <xs:attribute name="Nr" type="xs:short" use="required"/>
            <xs:attribute name="Beginn" type="xs:string" use="required"/>
            <xs:attribute name="Anrede" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NameType">
    <xs:sequence>
      <xs:element name="Rufname" type="xs:string"/>
      <xs:element name="Zuname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdresseType">
    <xs:sequence>
      <xs:element name="Strasse" type="xs:string"/>
      <xs:element name="PLZ" type="xs:int"/>
      <xs:element name="Stadt" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
