XSLTTransformation/file/19_XQuery/1921_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by Skulschus (Comelio) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="answer" type="xs:string"/>
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="chapter" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="section" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry" type="xs:string"/>
  <xs:element name="graphic">
    <xs:complexType>
      <xs:attribute name="fileref" type="xs:string" use="required"/>
      <xs:attribute name="align" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="member" type="xs:string"/>
  <xs:element name="para">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="answer"/>
        <xs:element ref="question"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="question" type="xs:string"/>
  <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="entry" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="title"/>
        <xs:element ref="subtitle" minOccurs="0"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="table">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="title"/>
                <xs:element name="tgroup">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="thead">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element ref="row"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="tfoot">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element ref="row"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="tbody">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element ref="row" maxOccurs="unbounded"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="cols" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="simplelist"/>
          <xs:element ref="graphic"/>
          <xs:element name="address">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="othername" type="xs:string"/>
                <xs:element name="personname">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="firstname" type="xs:string"/>
                      <xs:element name="surname" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="street" type="xs:string"/>
                <xs:element name="postcode" type="xs:string"/>
                <xs:element name="city" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="phone" type="xs:string"/>
                <xs:element name="fax" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="para"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="simplelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="member" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtitle" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
</xs:schema>
