XSLTTransformation/file/19_XQuery/1924_01.xsd

<?xml version="1.0" encoding="ISO-8859-1"?><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="Erfolguebersicht">    <xs:complexType>      <xs:sequence>        <xs:element name="Erfolg" maxOccurs="unbounded">          <xs:complexType>            <xs:sequence>              <xs:element name="Gesamt" type="KundenTyp"/>              <xs:element name="Neukunden" type="KundenTyp"/>            </xs:sequence>            <xs:attribute name="Stadt" type="xs:string" use="required"/>            <xs:attribute name="Monat" use="required">              <xs:simpleType>                <xs:restriction base="xs:byte">                  <xs:minInclusive value="1"/>                  <xs:maxInclusive value="12"/>                </xs:restriction>              </xs:simpleType>            </xs:attribute>          </xs:complexType>        </xs:element>      </xs:sequence>    </xs:complexType>  </xs:element>  <!-- Globaler einfacher Typ -->  <xs:simpleType name="KundenTyp">    <xs:restriction base="xs:int"/>  </xs:simpleType></xs:schema>