XSLTTransformation/file/19_XQuery/dtd.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!ELEMENT Neukunden (#PCDATA)>
<!ELEMENT Gesamt (#PCDATA)>
<!ELEMENT Erfolguebersicht ((Erfolg+))>
<!ATTLIST Erfolguebersicht
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation CDATA #IMPLIED
>
<!ELEMENT Erfolg ((Gesamt, Neukunden))>
<!ATTLIST Erfolg
	Monat CDATA #REQUIRED
	Stadt CDATA #REQUIRED
>
