XSLTTransformation/file/15_XSLT-Funktionen/1521_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Kunde">
		<xs:complexType>
			<xs:attribute name="Datei" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Postenliste">
		<xs:complexType>
			<xs:attribute name="Datei" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rechnung">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Total"/>
				<xs:element ref="Kunde"/>
				<xs:element ref="Postenliste"/>
			</xs:sequence>
			<xs:attribute name="Nr" type="xs:string" use="required"/>
			<xs:attribute name="Datum" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rechnungen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rechnung" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Total" type="xs:string"/>
</xs:schema>
