XSLTTransformation/file/15_XSLT-Funktionen/1522_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Rechnung">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Total" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="Nr" type="xs:string" use="required"/>
			<xs:attribute name="Datum" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
