XSLTTransformation/file/15_XSLT-Funktionen/1524_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="entry" type="xs:string"/>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="tgroup">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="thead">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="row"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tfoot">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="row"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tbody">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="row" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="cols" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
