XSLTTransformation/file/15_XSLT-Funktionen/kunde.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Kunde">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Vorname" type="xs:string"/>
							<xs:element name="Nachname" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="Anrede" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Adresse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Strasse" type="xs:string"/>
							<xs:element name="PLZ" type="xs:string"/>
							<xs:element name="Stadt" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Typ" type="xs:string" use="required"/>
			<xs:attribute name="Nr" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
