XSLTTransformation/file/15_XSLT-Funktionen/postenliste.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Einzeln" type="xs:string"/>
	<xs:element name="Posten">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tarif"/>
				<xs:element ref="Einzeln"/>
			</xs:sequence>
			<xs:attribute name="Nr" type="xs:string" use="required"/>
			<xs:attribute name="RefNr" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Postenliste">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Posten" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tarif" type="xs:string"/>
</xs:schema>
