XSLTTransformation/file/14_XPathFunktionen/1411_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Skulschus (Comelio) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Adresse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Strasse"/>
        <xs:element ref="PLZ"/>
        <xs:element ref="Stadt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Einzeln" type="xs:decimal"/>
  <xs:element name="Kunde">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Adresse"/>
      </xs:sequence>
      <xs:attribute name="Typ" type="xs:string" use="required"/>
      <xs:attribute name="Nr" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nachname" type="xs:string"/>
  <xs:element name="Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Vorname"/>
        <xs:element ref="Nachname"/>
      </xs:sequence>
      <xs:attribute name="Anrede" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PLZ" type="xs:string"/>
  <xs:element name="Posten">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Tarif"/>
        <xs:element ref="Einzeln"/>
      </xs:sequence>
      <xs:attribute name="Nr" type="xs:string" use="required"/>
      <xs:attribute name="RefNr" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Postenliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Posten" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rechnung">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Total"/>
        <xs:element ref="Kunde"/>
        <xs:element ref="Postenliste"/>
      </xs:sequence>
      <xs:attribute name="Nr" type="xs:string" use="required"/>
      <xs:attribute name="Datum" type="xs:date" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rechnungen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Rechnung" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stadt" type="xs:string"/>
  <xs:element name="Strasse" type="xs:string"/>
  <xs:element name="Tarif" type="xs:string"/>
  <xs:element name="Total" type="xs:decimal"/>
  <xs:element name="Vorname" type="xs:string"/>
</xs:schema>
