XSLTTransformation/file/14_XPathFunktionen/1431_01.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT Adresse (Strasse, PLZ, Stadt)>
<!ELEMENT Einzeln (#PCDATA)>
<!ELEMENT Kunde (Name, Adresse)>
<!ATTLIST Kunde
	Typ CDATA #REQUIRED
	Nr CDATA #REQUIRED
>
<!ELEMENT Nachname (#PCDATA)>
<!ELEMENT Name (Vorname, Nachname)>
<!ATTLIST Name
	xml:lang CDATA #REQUIRED
	Anrede CDATA #REQUIRED
>
<!ELEMENT PLZ (#PCDATA)>
<!ELEMENT Posten (Tarif, Einzeln)>
<!ATTLIST Posten
	Nr CDATA #REQUIRED
	RefNr CDATA #REQUIRED
>
<!ELEMENT Postenliste (Posten+)>
<!ELEMENT Rechnung (Total, Kunde, Postenliste)>
<!ATTLIST Rechnung
	Nr CDATA #REQUIRED
	Datum CDATA #REQUIRED
>
<!ELEMENT Rechnungen (Rechnung+)>
<!ATTLIST Rechnungen
	xmlns:xsi CDATA #IMPLIED
	xsi:noNamespaceSchemaLocation CDATA #IMPLIED
>
<!ELEMENT Stadt (#PCDATA)>
<!ELEMENT Strasse (#PCDATA)>
<!ELEMENT Tarif (#PCDATA)>
<!ATTLIST Tarif
	xml:lang CDATA #REQUIRED
>
<!ELEMENT Total (#PCDATA)>
<!ELEMENT Vorname (#PCDATA)>
