XSLTTransformation/file/14_XPathFunktionen/1441_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Skulschus (Comelio) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Beginn" type="xs:dateTime"/>
  <xs:element name="Dauer" type="xs:integer"/>
  <xs:element name="Stadt" type="xs:string"/>
  <xs:element name="Umsatz">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="Stadt"/>
        <xs:element ref="Beginn"/>
        <xs:element ref="Dauer"/>
        <xs:element name="Umsatz" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Umsatz-Pro-Stadt">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="Umsatz" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
