XSLTTransformation/file/17_DynamischesXSLT/1731_01.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Marco (Marco) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">  <xs:element name="Kundenliste" type="KundenlisteType"/>  <xs:complexType name="NameType">    <xs:sequence>      <xs:element name="Rufname" type="xs:string"/>      <xs:element name="Zuname" type="xs:string"/>    </xs:sequence>  </xs:complexType>  <xs:complexType name="AdresseType">    <xs:sequence>      <xs:element name="Strasse" type="xs:string"/>      <xs:element name="PLZ" type="xs:int"/>      <xs:element name="Stadt" type="xs:string"/>    </xs:sequence>  </xs:complexType>  <xs:complexType name="KundeType">    <xs:sequence>      <xs:element name="Name" type="NameType"/>      <xs:element name="Adresse" type="AdresseType"/>    </xs:sequence>    <xs:attribute name="Nr" type="xs:string" use="required"/>    <xs:attribute name="Anrede" use="required">      <xs:simpleType>        <xs:restriction base="xs:token">          <xs:enumeration value="Herr"/>          <xs:enumeration value="Frau"/>        </xs:restriction>      </xs:simpleType>    </xs:attribute>    <xs:attribute name="Beginn" type="xs:string" use="required"/>  </xs:complexType>  <xs:complexType name="KundenlisteType">    <xs:sequence>      <xs:element name="Kunde" type="KundeType" maxOccurs="unbounded"/>    </xs:sequence>  </xs:complexType></xs:schema>