XSLTTransformation/file/07_Ausgabeformate/711_01.xsd

<?xml version="1.0" encoding="ISO-8859-1"?><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by tester (altova) --><!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="Umsatzuebersicht">    <xs:complexType>      <xs:sequence>        <xs:element name="Tarif" maxOccurs="unbounded">          <xs:complexType>            <xs:sequence>              <xs:element name="Name" type="xs:string"/>              <xs:element name="Umsatz" type="xs:decimal"/>            </xs:sequence>            <xs:attribute name="Nr" type="xs:byte" use="required"/>            <xs:attribute name="Typ" type="xs:string" use="required"/>          </xs:complexType>        </xs:element>      </xs:sequence>    </xs:complexType>  </xs:element></xs:schema>