XSLTTransformation/file/07_Ausgabeformate/723_01.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by tester (altova) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Anrufliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Anruf" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Von">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="Vorname"/>
                    <xs:element ref="Nachname"/>
                  </xs:sequence>
                  <xs:attribute name="Anrede" type="xs:string"/>
                  <xs:attribute name="Nr" type="xs:byte" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Nach">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="Vorname"/>
                    <xs:element ref="Nachname"/>
                  </xs:sequence>
                  <xs:attribute name="Anrede" type="xs:string"/>
                  <xs:attribute name="Nr" type="xs:byte" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Tarif">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Preis" type="xs:string"/>
                    <xs:element name="Summe" type="xs:byte"/>
                  </xs:sequence>
                  <xs:attribute name="Nr" type="xs:byte" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Nr" type="xs:short" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nachname" type="xs:string"/>
  <xs:element name="Vorname" type="xs:string"/>
</xs:schema>
