XSLTTransformation/file/15_XSLT-Funktionen/532/532_01.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT Adresse (Strasse, PLZ, Stadt)>
<!ELEMENT Kunde (Name, Adresse)>
<!ATTLIST Kunde
  Typ CDATA #REQUIRED
  Nr CDATA #REQUIRED
>
<!ELEMENT Nachname (#PCDATA)>
<!ELEMENT Name (Vorname, Nachname)>
<!ATTLIST Name
  Anrede CDATA #REQUIRED
>
<!ELEMENT PLZ (#PCDATA)>
<!ELEMENT Posten (#PCDATA)>
<!ATTLIST Posten
  Nr CDATA #REQUIRED
  RefNr CDATA #REQUIRED
>
<!ELEMENT Postenliste (Posten+)>
<!ELEMENT Rechnung (Total, Kunde, Postenliste)>
<!ATTLIST Rechnung
  Nr ID #REQUIRED
  Datum CDATA #REQUIRED
>
<!ELEMENT Rechnungen (Rechnung+)>
<!ELEMENT Stadt (#PCDATA)>
<!ELEMENT Strasse (#PCDATA)>
<!ELEMENT Total (#PCDATA)>
<!ELEMENT Vorname (#PCDATA)>
